# emacs
*.elc

# straight.el
/straight/

# recentf
/recentf

# history
/history

# magit
/transient

# projectile
projectile-bookmarks.eld
projectile.cache

# perspective
persp-state-file

# smex
smex-items

# gcc emacs
/eln-cache
